.image {
   border-radius: 30%;
  }

  .Checkoutitems {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .item {
   margin-bottom: 20px; /* Aggiungi spazio tra gli elementi */
   text-align: center; /* Centra il testo all'interno dell'elemento */
 }
 