.header {
  background-color: rgba(143, 180, 187, 0.7);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
  }
  
  .links-left a {
    float: left;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
    color:aliceblue; 
    
  }
  
  .links-right a {
    float: right;
    margin-left: 20px;
    text-decoration: none;
    padding: 10px;
    color:aliceblue; 
  }