
.search-icon, .cart-icon, .user-icon, .categories {
  display: flex;
  justify-content: center;
  align-items: center;

}

.categories {
  display: flex;
  list-style: none; /* Remove default list styling */
  padding: 0;
  align-items: center;
  justify-content: center;
  text-decoration: none;
 
}

/* Style for subcategory items */
.subcategories {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Display subcategories on hover of main categories */
.categories > li:hover .subcategories {
  display: block; /* Show subcategories on hover */
}

.categories .category-link {
  text-decoration: none; /* Remove underline from category links */
  margin: 0 10px;
  font-weight: bold;
  color: black;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  
}
.logo-img {
  width: 200px; /* 2/3 di 300px */
  height: 200px; /* 2/3 di 300px */
  border-radius: 30%;
  background-color: lightgreen;
  margin: 10px
}


.user-icon {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.cart-icon {
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  font-size: 20px;
}

.search-icon {
  float: left;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 20px;
}
