.carousel-item {
  /* Aggiungi qui gli stili per l'elemento del carosello */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.carousel-content {
  /* Aggiungi qui gli stili per il contenuto del carosello */
  color: white;
  text-align: center;
  padding: 20px;
}
