/* Checkout.css */
.checkout-container {
    display: flex;
  }
  
  .checkout-section {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .left-section {
    flex: 0.65; /* Sezione sinistra - 65% */
    min-height: 100vh;
  }
  
  .right-section {
    flex: 0.35; /* Sezione destra - 35% */
    min-height: 100vh;
  }

  .image{
    flex: 0.35; /* Sezione destra - 35% */
  }
  