.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
}

.carousel-button {
  background: none;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
}

.carousel-content {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 15%;
  background-color: rgba(219, 206, 206, 0.5);
  width: 100%;
}

.carousel-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.description {
  color: black;
  font-size: 1.15em;
  font-weight: bold;
}

.name {
  color: black;
  font-weight: bold;
}

.linkItem {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
